# Python
.venv/
__pycache__/
*.pyc

# Local env
.env

# OS
.DS_Store

git_setup.sh

logs/
*.log
AGENTS.md

commands_cheatsheet.sh

# dbt artifacts
target/
dbt_packages/

# Python
__pycache__/
*.pyc

# Environment
.env
.venv/

# OS / editor
.DS_Store
.vscode/
dbt_internal_packages/

# exploratoinn notebooks
notebooks/query_exploration_notebook.ipynb

